@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');

:root{
    
    --blanco: aliceblue;
    --lila: rgb(223, 123, 248);
    --celeste: rgb(145, 171, 228);
    --azul: rgb(26, 23, 233);
    --verde: rgb(114, 216, 177);

    --fuente: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom,var(--lila),var(--verde)) ;
    height: 100vh;
    font-family: var(--fuente);

}

.contenedor{
    width: 400px;
    margin: 0 auto;
    max-width: 80%;
}

.fecha{
color: var(--blanco);
}

.nombre{
    color: var(--blanco);
}

.span{
    color: var(--blanco);
    letter-spacing: 1px;
}

.agregar-tarea{
    background-color: var(--blanco);
    height: 70px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 10px;
    margin: 40px 0;
}

.input{
    background-color: var(--blanco);
    border: none;
    height: 100%;
    width: 100%;
}

.icono-input{
    border-color: var(--blanco);
    border: none;
    height: 100%;
    width: 100%;
}
